@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.registerContent,
.findContent {
    background: url(../../imgs/login/login_back.png);
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.registerContent .registerBox,
.findContent .findBox {
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 24px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.registerContent .registerBox h1,
.findContent .findBox h1 {
    font-family: S-CoreDream-6Bold;
    margin: 36px auto 12px;
}

.registerContent .registerBox .regiBody,
.findContent .findBox .findBody {
    margin: 0 36px 12px;
    display: flex;
}

.registerContent .registerBox .regiBody p {
    width: 100px;
    height: 18px;
    margin: 11px 12px 11px 0;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
}

.findContent .findBox .findBody p {
    width: 100px;
    height: 18px;
    margin: 11px 12px 11px 0;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #595959;
}

.registerContent .registerBox .regiBody input,
.findContent .findBox .findBody input {    
    width: 266px;
    height: 12px;
    padding: 11px 12px;
    margin: 0 0 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: none;
    background-color: #fff;
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #16284d;
}

.registerContent .registerBox .regiBody input::placeholder,
.findContent .findBox .findBody input::placeholder {  
    font-family: SpoqaHanSansNeo-Light;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #707070;
}

.registerContent .registerBox .regiBody .emailArea,
.registerContent .registerBox .regiBody .authArea,
.findContent .findBox .findBody .emailArea {
    display: flex;
}

.registerContent .registerBox .regiBody .emailArea .auth_send,
.registerContent .registerBox .regiBody .authArea .auth_confirm,
.findContent .findBox .findBody .emailArea .auth_send {
    display: flex;
    background-color: #3fa9f5;
    border-radius: 15px;
    width: 80px;
    height: 30px;
    margin: 2px 0 auto 8px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}

.registerContent .registerBox .regiBody .authArea .auth_confirm.click {
    background-color: #909090;
    cursor: default;
}

.registerContent .registerBox .regiBody .emailArea .auth_send h3,
.registerContent .registerBox .regiBody .authArea .auth_confirm h3,
.findContent .findBox .findBody .emailArea .auth_send h3 {
    font-family: S-CoreDream-6Bold;
    font-size: 12px;
    color: white;
    margin: auto;
}

.registerContent .registerBox .btnArea,
.findContent .findBox .btnArea {
    display: flex;
    margin: 0 auto 36px;
}

.registerContent .registerBox .btnArea .regiSave,
.findContent .findBox .btnArea .findSave {
    width: 160px;
    height: 30px;
    margin: 0 24px 0 0;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 16%);
    background-color: #3fa9f5;
    cursor: pointer;
}

.registerContent .registerBox .btnArea .regiSave p,
.findContent .findBox .btnArea .findSave p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: auto;
}

.registerContent .registerBox .btnArea .regiCancel,
.findContent .findBox .btnArea .findCancel {
    width: 160px;
    height: 30px;
    margin: 0;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 16%);
    background-color: #16284d;
    cursor: pointer;
}

.findContent .findBox .btnArea .findCancel a {
    width: 100%;
    height: 100%;
    display: flex;
}

.registerContent .registerBox .btnArea .regiCancel p,
.findContent .findBox .btnArea .findCancel p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: auto;
}

#changePassForm {
    margin: 0 24px 24px;
    display: flex;
    flex-direction: column;
}

#changePassForm span {
    font-family: SpoqaHanSansNeo-Bold;
    color: red;
    margin: 0 auto 12px;
}

#changePassForm .passform {
    display: flex;
    margin: 0 auto;
}

#changePassForm .passform p {
    width: 100px;
    height: 18px;
    margin: 11px 12px 11px 0;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
}

#changePassForm .passform input {
    width: 266px;
    height: 12px;
    padding: 11px 12px;
    margin: 0 0 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: none;
    background-color: #fff;
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #16284d;
}

#changePassForm .passform input::placeholder {  
    font-family: SpoqaHanSansNeo-Light;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #707070;
}


.btn {
    margin: 0 auto;
    display: flex;
}

.btn #confirm {
    width: 160px;
    height: 30px;
    margin: 0 24px 0 0;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 16%);
    background-color: #3fa9f5;
    cursor: pointer;
}

.btn #confirm p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: auto;
}

.btn #cancel {
    width: 160px;
    height: 30px;
    margin: 0;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 16%);
    background-color: #16284d;
    cursor: pointer;
}

.btn #cancel a {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
}

.btn #cancel a p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: auto;
}