@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MHNCity';
    src: url('../../font/MHNCity.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.chargeContent {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 436px);
}

.chargeContent .chargeHeader {
    width: 988px;
    display: flex;
    margin: 100px auto 48px;
}

.chargeContent .chargeHeader img {
    width: 40px;
    height: 40px;
    margin: 0 4px 0 0;
    object-fit: contain;
}

.chargeContent .chargeHeader span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: 7px 8px auto 0;
}

.chargeContent .chargeHeader p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: left;
    color: #3fa9f5;
    margin: 17px auto auto 0;
}

.chargeContent .chargeBody {
    width: 988px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 90px;
}

.chargeContent .chargeBody .bodyHeader {
    margin: 0 auto 48px;
    display: flex;
    flex-direction: column;
}

.chargeContent .chargeBody .bodyHeader span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.28px;
    text-align: center;
    color: #16284d;
    margin: 0 auto 8px;
}

.chargeContent .chargeBody .bodyHeader p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: -0.18px;
    text-align: center;
    color: #595959;
    margin: 0 auto;
}

.chargeContent .chargeBody .bodyContent {
    width: 988px;
    height: auto;
    background-color: #f8f8f8;
    margin: 0 auto 48px;
    display: flex;
    flex-direction: column;
}

.chargeContent .chargeBody .bodyContent .headTextArea {
    width: 900px;
    height: auto;
    margin: 48px auto 20px;
    display: flex;
}

.chargeContent .chargeBody .bodyContent .headTextArea span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: 0 auto 0 0;
}

.chargeContent .chargeBody .bodyContent .headTextArea p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.12px;
    text-align: right;
    color: #595959;
    margin: 7px 2px 0 0;
}

.chargeContent .chargeBody .bodyContent .firstArea {
    display: flex;
    margin: 0 auto;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox {
    width: 268px;
    display: flex;
    flex-direction: column;
    margin: 0 48px 0 0;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox:nth-last-child(1) {
    margin: 0;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader {
    width: 268px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #3fa9f5;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px 10px 0 0;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox.basic .boxHeader {
    background-color: #037bd3;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox.premium .boxHeader {
    background-color: #004ca3;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader span {
    font-family: MHNCity;
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: -0.38px;
    text-align: center;
    color: #fff;
    margin: 24px auto 12px;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader .line {
    width: 220px;
    margin: 0 auto 18px;
    border-top: 1px solid #fff;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader .taxArea {
    display: flex;
    margin: 0 auto 20px;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 0 4px 0 0;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader h5 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.18px;
    text-align: center;
    color: #fff;
    margin: 10px 0 auto;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent {
    width: 268px;
    height: 146px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent .arrow {
	width: 0;
	height: 0;
	border-top: 16px solid #3fa9f5;/* 화살표 */
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    display: flex;
    position: absolute;
    top: 8px;
    left: 114px;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox.basic .boxContent .arrow {
	border-top: 16px solid #037bd3;/* 화살표 */
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox.premium .boxContent .arrow {
	border-top: 16px solid #004ca3;/* 화살표 */
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent p {
    width: 204px;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    margin: 18px auto 6px;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent .taxArea {
    width: 204px;
    display: flex;
    margin: 0 auto 17px;
    color: #3fa9f5;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox.basic .boxContent .taxArea {
    color: #037bd3;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox.premium .boxContent .taxArea {
    color: #004ca3;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent .taxArea span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: left;
    margin: 0 3px 0 0;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent .taxArea h5 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    margin: 18px auto auto 0;
}

.chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent h4 {
    width: 204px;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    margin: 0 auto 24px;
}

.chargeContent .chargeBody .bodyContent .secondArea {
    display: flex;
    margin: 0 auto 48px;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox {
    width: 426px;
    display: flex;
    flex-direction: column;
    margin: 0 48px 0 0;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox:nth-last-child(1) {
    margin: 0;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader {
    width: 426px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #00979c;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px 10px 0 0;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox.premium2 .boxHeader {
    background-color: #14606e;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .typeArea {
    display: flex;
    margin: 24px auto 12px;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .typeArea span {
    font-family: MHNCity;
    font-size: 38px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: -0.38px;
    text-align: center;
    color: #fff;
    margin: 0 4px 0 0;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .typeArea p {
    font-family: TTTogether;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    text-align: center;
    color: #fff;
    margin: 3px 0 auto;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .line {
    width: 378px;
    margin: 0 auto 18px;
    border-top: 1px solid #fff;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .taxArea {
    display: flex;
    margin: 0 auto 20px;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: 0 4px 0 0;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .pcText {
    display: flex;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .mText {
    display: none;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader h5 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.18px;
    text-align: center;
    color: #fff;
    margin: 10px 0 auto;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent {
    width: 426px;
    height: 238px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .arrow {
	width: 0;
	height: 0;
	border-top: 16px solid #00979c;/* 화살표 */
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    display: flex;
    position: absolute;
    top: 8px;
    left: 193px;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox.premium2 .boxContent .arrow {
	border-top: 16px solid #14606e;/* 화살표 */
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent p {
    width: 362px;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    margin: 18px auto 6px;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .taxArea {
    width: 362px;
    display: flex;
    margin: 0 auto 17px;
    color: #00979c;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox.premium2 .boxContent .taxArea {
    color: #14606e;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .taxArea span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: left;
    margin: 0 3px 0 0;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .taxArea h5 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    margin: 18px auto auto 0;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent h4 {
    width: 362px;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #446fba;
    margin: 0 auto 29px;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .textArea {
    width: 362px;
    display: flex;
    flex-direction: column;
    margin: 0 auto auto;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .textArea span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    margin: 0 auto 8px 0 ;
}

.chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .textArea p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    margin: 0 auto 0 0 ;
}

.chargeContent .chargeBody .bodyFooter {
    width: 900px;
    display: flex;
    margin: 0 auto 90px;
}

.chargeContent .chargeBody .bodyFooter span {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    margin: 0 40px 0 0;
}

.chargeContent .chargeBody .bodyFooter .moveBtn {
    width: 268px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #3fa9f5;
    display: flex;
    margin: 0 0 auto 0;
}

.chargeContent .chargeBody .bodyFooter .moveBtn a {
    width: 100%;
    height: 100%;
    display: flex;
}

.chargeContent .chargeBody .bodyFooter .moveBtn a p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin: auto;
}

@media(max-width:1023px) {
    .chargeContent .chargeHeader {
        width: 600px;
    }

    .chargeContent .chargeBody {
        width: 600px;
    }

    .chargeContent .chargeBody .bodyHeader p {
        line-height: 1.24;
    }

    .chargeContent .chargeBody .bodyContent {
        width: 600px;
    }

    .chargeContent .chargeBody .bodyContent .headTextArea {
        width: 426px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea {
        flex-direction: column;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox {
        width: 426px;
        margin: 0 auto 48px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader {
        width: 426px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader .line {
        width: 378px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent {
        width: 426px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent p,
    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent .taxArea,
    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent h4 {
        width: 362px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent .arrow {
        left: 193px;
    }

    .chargeContent .chargeBody .bodyContent .secondArea {
        flex-direction: column;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox {
        width: 426px;
        display: flex;
        flex-direction: column;
        margin: 0 auto 48px;
    }

    .chargeContent .chargeBody .bodyFooter {
        width: 600px;
        flex-direction: column;
    }

    .chargeContent .chargeBody .bodyFooter span {
        margin: 0 auto 40px 0;
    }

    .chargeContent .chargeBody .bodyFooter .moveBtn {
        margin: 0 auto;
    }
}

@media(max-width:900px) {
    .chargeContent .chargeHeader {
        width: 312px;
        display: flex;
        margin: 48px auto 24px;
    }
    
    .chargeContent .chargeHeader p {
        display: none;
    }

    .chargeContent .chargeBody {
        width: 312px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .chargeContent .chargeBody .bodyHeader {
        width: 312px;
        margin: 0 auto 24px;
    }

    .chargeContent .chargeBody .bodyHeader p {
        line-height: 1.24;
    }

    .chargeContent .chargeBody .bodyContent {
        width: 312px;
        margin: 0 auto 24px;
    }

    .chargeContent .chargeBody .bodyContent .headTextArea {
        width: 268px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }    
    
    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox {
        width: 268px;
        margin: 0 auto 48px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader {
        width: 268px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxHeader .line {
        width: 220px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent {
        width: 268px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent p,
    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent .taxArea,
    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent h4 {
        width: 204px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox .boxContent .arrow {
        left: 114px;
    }

    .chargeContent .chargeBody .bodyContent .firstArea .chargeBox {
        margin: 0 auto 48px;
    }

    .chargeContent .chargeBody .bodyContent .secondArea {
        display: flex;
        flex-direction: column;
        margin: 0 auto 48px;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox {
        width: 268px;
        margin: 0 auto 48px;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader {
        width: 268px;
        height: 186px;
        display: flex;
        flex-direction: column;
        margin: 0;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
        border-radius: 10px 10px 0 0;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .line {
        width: 220px;
        margin: 0 auto 18px;
        border-top: 1px solid #fff;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .pcText {
        display: none;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .mText {
        display: flex;
        flex-direction: column;
        width: 220px;
        margin: 0 auto;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .mText .topText {
        display: flex;
        margin: 0 auto 8px;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxHeader .mText h4 {
        font-family: SpoqaHanSansNeo-Bold;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: -0.18px;
        text-align: center;
        color: #fff;
        margin: 0 auto;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent {
        width: 268px;
        height: 238px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent {
        width: 268px;
        height: 238px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .arrow {
        left: 114px;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent p {
        width: 204px;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .taxArea {
        width: 204px;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent h4 {
        width: 204px;
    }

    .chargeContent .chargeBody .bodyContent .secondArea .chargeBox .boxContent .textArea {
        width: 204px;
    }

    .chargeContent .chargeBody .bodyFooter {
        width: 268px;
        display: flex;
        flex-direction: column;
        margin: 0 auto 48px;
    }

    .chargeContent .chargeBody .bodyFooter span {
        margin: 0 0 24px 0;
    }
}