@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.detailArea {
    display: flex;
    width: 100vw;
    margin: 80px 0 0;
}

.detailArea .viewArea {
    display: flex;
    flex-direction: column;
    margin: 0 48px 0 auto;
    background-color: #909090;
    border-radius: 5px;
    padding: 24px;
}

.detailArea .viewArea .lockData {
    width: 960px;
    height: 540px;
}

.detailArea .albumArea {
    margin: 0 48px 0 auto;
    background-color: #909090;
    border-radius: 5px;
    padding: 24px;
    width: 960px;
    height: 540px;
    display: flex;
    flex-direction: column;
}

.detailArea .albumArea .lockDataList {
    width: 960px;
    height: 480px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.detailArea .albumArea .threeArea {
    width: 960px;
    height: 210px;
    margin: 0 0 24px 0;
    display: flex;
}

.detailArea .albumArea .albumlist {
    display: flex;
    flex-direction: column;
    float: left;
    width: 260px;
    margin: auto;
}

.detailArea .albumArea .albumlist .albumImg {
    width: 100%;
    height: 180px;
    cursor: pointer;
}

.detailArea .albumArea .albumlist .albumImg.active {
    border: solid 1px red;
}

.detailArea .albumArea .albumlist .albumFooter {
    display: flex;
}

.detailArea .albumArea .albumlist .albumFooter p {
    margin: 4px 12px 4px auto;
}

.detailArea .albumArea .albumlist .albumFooter .plusBtn {
    margin: 4px auto 0 0;
    cursor: pointer;
}

.detailArea .albumArea .albumlist .albumFooter .plus_img {
    width: 24px;
    height: 24px;
    filter: saturate(1000%);
}

.detailArea .viewArea .lockData source,
.detailArea .viewArea .lockData img {
    width: 100%;
    height: 100%;
}

.detailArea .viewArea .btnArea,
.detailArea .albumArea .btnArea {
    display: flex;
}

.detailArea .viewArea .btnArea .back,
.detailArea .albumArea .back {
    display: flex;
    background-color: deepskyblue;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin: 24px 0 auto auto;
    cursor: pointer;
}

.detailArea .viewArea .btnArea .back p,
.detailArea .albumArea .back p {
    margin: auto;
    color: white;
    font-family: S-CoreDream-6Bold;
}

.detailArea .infoArea {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 48px;
    background-color: #909090;
    border-radius: 5px;
    padding: 24px;
    height: min-content;
}

.detailArea .infoArea .file_name,
.detailArea .infoArea .file_type,
.detailArea .infoArea .file_reco,
.detailArea .infoArea .file_key,
.detailArea .infoArea .file_date,
.detailArea .infoArea .file_download,
.detailArea .infoArea .file_recoConfirm,
.detailArea .infoArea .select_recoConfirm {
    display: flex;
    margin: 0 auto 12px 0;
}

.detailArea .infoArea .file_name .title,
.detailArea .infoArea .file_type .title,
.detailArea .infoArea .file_reco .title,
.detailArea .infoArea .file_key .title,
.detailArea .infoArea .file_date .title {
    margin: 0 8px 0 0;
    text-align: right;
    width: 100px;
    font-family: SpoqaHanSansNeo-Regular;
}

.detailArea .infoArea .file_name p,
.detailArea .infoArea .file_type p,
.detailArea .infoArea .file_reco p,
.detailArea .infoArea .file_key p,
.detailArea .infoArea .file_date p {
    margin: 0 8px 0 0;
    font-family: SpoqaHanSansNeo-Regular;
}

.detailArea .infoArea .file_download {
    display: flex;
    width: 180px;
    height: 40px;
    margin: 0 auto 12px;
    background-color: darkseagreen;
    border-radius: 5px;
    cursor: pointer;
}

.detailArea .infoArea .file_download p {
    margin: auto;
    color: white;
    font-family: S-CoreDream-6Bold;
}

.detailArea .infoArea .file_recoConfirm {
    display: flex;
    width: 180px;
    height: 40px;
    margin: 0 auto 12px;
    background-color: darkorchid;
    border-radius: 5px;
    cursor: pointer;
}

.detailArea .infoArea .file_recoConfirm p {
    margin: auto;
    color: white;
    font-family: S-CoreDream-6Bold;
}

.detailArea .infoArea .select_recoConfirm {
    display: flex;
    width: 180px;
    height: 40px;
    margin: 0 auto 12px;
    background-color: darkcyan;
    border-radius: 5px;
    cursor: pointer;
}

.detailArea .infoArea .select_recoConfirm p {
    margin: auto;
    color: white;
    font-family: S-CoreDream-6Bold;
}

.detailArea .infoArea .file_recoConfirm.hide,
.detailArea .infoArea .select_recoConfirm.hide {
    display: none;
}

.layerPopupBox .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 214px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #666;
    background: #FFFFFF;
    border: 1px solid #EBEDF2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.layerPopupBox .inner .recoContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layerPopupBox .inner .recoContent .recoHeader {
    margin: 24px auto;
}

.layerPopupBox .inner .recoContent .recoHeader h1 {
    margin: 0;
    font-weight: S-CoreDream-6Bold;
}

.layerPopupBox .inner .recoContent .recoBody {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.layerPopupBox .inner .recoContent .recoBody .recoMiddle {
    display: flex;
    margin: 0 auto 12px;
}

.layerPopupBox .inner .recoContent .recoBody .recoMiddle .uploadBtn {
    display: flex;
    background-color: deepskyblue;
    margin: auto 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.layerPopupBox .inner .recoContent .recoBody .recoMiddle .uploadBtn p {
    color: white;
    font-family: S-CoreDream-6Bold;
    margin: auto;
}

.layerPopupBox .inner .recoContent .recoBody .recoMiddle input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.layerPopupBox .inner .recoContent .recoBody .recoFooter {
    display: flex;
}

.layerPopupBox .inner .recoContent .recoBody .recoFooter .recoConfirm {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: deepskyblue;
    display: flex;
    cursor: pointer;
    margin: 0 24px 0 auto;
}

.layerPopupBox .inner .recoContent .recoBody .recoFooter .recoConfirm p {
    margin: auto;
    color: white;
    font-family: S-CoreDream-6Bold;
}

.layerPopupBox .inner .recoContent .recoBody .recoFooter .cancel {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #909090;
    display: flex;
    cursor: pointer;
    margin: 0 auto 0 0;
}

.layerPopupBox .inner .recoContent .recoBody .recoFooter .cancel p {
    margin: auto;
    color: white;
    font-family: S-CoreDream-6Bold;
}

.layerPopupBox .img_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 984px;
    height: 630px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #666;
    background: #FFFFFF;
    border: 1px solid #EBEDF2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.layerPopupBox .img_inner .imgContent {
    display: flex;
    flex-direction: column;
}

.layerPopupBox .img_inner .imgContent .imgHeader {
    margin: 24px auto 12px;
    width: 960px;
    height: 540px;
}

.layerPopupBox .img_inner .imgContent .imgHeader .viewImg {
    width: 100%;
    height: 100%;
}

.layerPopupBox .img_inner .imgContent .imgFooter {
    display: flex;
}

.layerPopupBox .img_inner .imgContent .imgFooter .imgConfirm {
    width: 140px;
    height: 30px;
    border-radius: 5px;
    background-color: deepskyblue;
    display: flex;
    margin: auto 24px auto auto;
    cursor: pointer;
}

.layerPopupBox .img_inner .imgContent .imgFooter .imgConfirm p {
    margin: auto;
    color: white;
    font-family: S-CoreDream-6Bold;
}

.layerPopupBox .img_inner .imgContent .imgFooter .cancel {
    width: 140px;
    height: 30px;
    border-radius: 5px;
    background-color: #909090;
    display: flex;
    margin: auto auto auto 0;
    cursor: pointer;
}

.layerPopupBox .img_inner .imgContent .imgFooter .cancel p {
    margin: auto;
    color: white;
    font-family: S-CoreDream-6Bold;
}