@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.btnArea {
    display: flex;
    height: 246px;
}

 .btnArea .prevBtn,
 .btnArea .nextBtn {  
    width: 90px;
    height: 30px;
    margin: 100px 118px 116px auto;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #595959;
    cursor: pointer;
    display: flex;
}

 .btnArea .nextBtn {
    margin: 100px auto 116px 118px;
}

.btnArea .prevBtn p,
.btnArea .nextBtn p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: auto;
}

.btnArea .stepArea {
    display: flex;
    width: 560px;
}

.uploadArea {
    width: 100%;
    height: auto;
    min-height: 564px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.uploadArea .uploadSelect {
    width: 988px;
    height: auto;
    margin: 90px auto 20px;
    display: flex;
}

.uploadArea .uploadSelect .textArea {
    margin: auto auto auto 0;
    display: flex;
}

.uploadArea .uploadSelect .textArea img {
    width: 40px;
    height: 40px;
    margin: auto 4px auto 0;
    object-fit: contain;
}

.uploadArea .uploadSelect .textArea h1 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: auto 8px auto 0;
}

.uploadArea .uploadSelect .textArea p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: left;
    color: #3fa9f5;
    margin: auto 0;
}

.uploadArea .uploadSelect .uploadBtnArea {
    display: flex;
    margin: 12px 12px 12px 120px;
    background-color: #595959;
    border-radius: 15px;
}

/* .uploadArea .uploadSelect .uploadBtnArea .uploadBtn {
    display: none;
} */

.uploadArea .uploadSelect .uploadBtnArea .uploadBtn {
    display: flex;
    background-color: #595959;
    /* background-color: #3fa9f5; */
    margin: auto 0 auto auto;
    width: 88px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.uploadArea .uploadSelect .uploadBtnArea .uploadBtn:hover {
    background-color: #3fa9f5;
}

.uploadArea .uploadSelect .uploadBtnArea .uploadBtn p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: auto;
}

.uploadArea .uploadSelect .uploadBtnArea input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.uploadArea .imgUpload {
    width: 988px;
    height: auto;
    min-height: 128px;
    margin: 0 auto 24px;
    border-radius: 24px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.uploadArea .imgUpload .file_header {
    width: 940px;
    height: 62px;
    margin: 0 auto;
    border-bottom: solid 1px #707070;
    display: flex;
}

.uploadArea .imgUpload .file_header p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #16284d;
    margin: auto;
}

.uploadArea .imgUpload .file_header .name_header {
    display: flex;
    width: 360px;
    height: 18px;
    margin: 24px 12px auto 0;
}

.uploadArea .imgUpload .file_header .size_header {
    display: flex;
    width: 68px;
    height: 18px;
    margin: 24px 12px auto 0;
}

.uploadArea .imgUpload .file_header .object_header {
    display: flex;
    width: 400px;
    height: 18px;
    margin: 24px 0 auto;
}

.uploadArea .imgUpload .file_header .delete_header {
    display: flex;
    width: 84px;
    height: 18px;
    margin: 24px 0 auto;
}

.uploadArea .imgUpload .imgContent {
    width: 940px;
    height: auto;
    min-height: 64px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.uploadArea .imgUpload .imgContent .file_content {
    width: 940px;
    height: 64px;
    margin: 0 auto;
    display: flex;
}

.uploadArea .imgUpload .imgContent .file_content .name_content {
    display: flex;
    width: 360px;
    margin: auto 12px auto 0;
}

.uploadArea .imgUpload .imgContent .file_content .size_content {
    display: flex;
    width: 68px;
    margin: auto 12px auto 0;
}

.uploadArea .imgUpload .imgContent .file_content .selectObject {
    display: flex;
    width: 400px;
    margin: auto 0 auto;
}

.uploadArea .imgUpload .imgContent .file_content .selectObject .checkList {
    display: flex;
    margin: auto;
}

.uploadArea .imgUpload .imgContent .file_content .selectObject .checkList input[type="radio"] {
    width: 14px;
    height: 14px;
    margin: auto 6px auto 0;
}

.uploadArea .imgUpload .imgContent .file_content .selectObject .checkList label {
    font-family: SpoqaHanSansNeo-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    margin: auto 12px auto 0;
}

.uploadArea .imgUpload .imgContent .file_content .delete_content {
    display: flex;
    width: 88px;
    margin: auto 0;
}

.uploadArea .imgUpload .imgContent .file_content .name_content p,
.uploadArea .imgUpload .imgContent .file_content .size_content p {
    display: flex;
    font-family: SpoqaHanSansNeo-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: center;
    color: #595959;
    margin: auto;
}

.uploadArea .imgUpload .imgContent .file_content .name_content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uploadArea .imgUpload .imgContent .file_content .delete_content .uploadDelete {
    width: 64px;
    height: 24px;
    margin: auto 0 auto auto;
    border-radius: 13px;
    background-color: #595959;
    cursor: pointer;
    display: flex;
}

.uploadArea .imgUpload .imgContent .file_content .delete_content .uploadDelete p {
    margin: auto;
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.uploadFooter {
    width: 988px;
    margin: 0 auto 90px;
    display: flex;
    flex-direction: column;
}

.uploadFooter .restBtnArea {
    display: flex;
    flex-direction: column;
}

.uploadFooter .restBtnArea .checkArea {
    display: flex;
    margin: 0 auto 8px 0;
}

.uploadFooter .restBtnArea .checkArea img {
    width: 40px;
    height: 40px;
    margin: auto 4px auto 0;
    object-fit: contain;
}

.uploadFooter .restBtnArea .checkArea p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: auto 26px auto 0;
}

.uploadFooter .restBtnArea .checkArea .restore {
    width: 14px;
    height: 14px;
    margin: auto 6px auto 0;
}

.uploadFooter .restBtnArea .checkArea label {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    margin: auto 12px auto 0;
}

.uploadFooter .restBtnArea .textArea {
    display: flex;
    margin: 0 auto 24px 44px;
}

.uploadFooter .restBtnArea .textArea p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: left;
    color: #3fa9f5;
    margin: 0;
}

.uploadFooter .restoreKey {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.uploadFooter .restoreKey.on {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 44px;
}

.uploadFooter .restoreKey .sKeyArea {
    margin: 0 0 12px;
    display: flex;
    height: 30px;
}

.uploadFooter .restoreKey .sKeyArea .keySelect {
    margin: 8px 6px auto 0;
    width: 14px;
    height: 14px;
}

.uploadFooter .restoreKey .sKeyArea label {  
    width: 230px;
    margin: 6px 0 auto 6px;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
}

.uploadFooter .restoreKey .sKeyArea .selectKey {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    width: 182px;
    height: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: relative;
    cursor: pointer;
    margin: 0;
}

.uploadFooter .restoreKey .sKeyArea .selectKey.on {
    visibility: visible;
    opacity: 1;
}

.uploadFooter .restoreKey .sKeyArea .selectKey p {
    font-family: SpoqaHanSansNeo-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: center;
    color: #595959;
    margin: auto;
}

.uploadFooter .restoreKey .sKeyArea .selectKey .select_img {
    width: 18px;
    height: 18px;
    margin: auto 8px auto 0;
    object-fit: contain;
    transition: all ease 0.5s;
}

.uploadFooter .restoreKey .sKeyArea .selectKey #selectKeyName {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;  
    width: 182px;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: absolute;
    top:30px;
}

.uploadFooter .restoreKey .sKeyArea .selectKey #selectKeyName.active {
    visibility: visible;
    opacity: 1;
}

.uploadFooter .restoreKey .sKeyArea .selectKey #selectKeyName .dropdown_content {
    width: 182px;
    height: 26px;
    display: flex;
    background-color: #fff;
    cursor: pointer;
}

.uploadFooter .restoreKey .sKeyArea .selectKey #selectKeyName .dropdown_content p {
    font-family: SpoqaHanSansNeo-Medium;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: center;
    color: #595959;
    margin: auto;
}

.uploadFooter .restoreKey .sKeyArea .selectKey #selectKeyName .dropdown_content:hover {
    background-color: #e9f6ff;
}

.uploadFooter .restoreKey .cKeyArea {
    margin: 0 0 8px;
    display: flex;
    height: 56px;
}

.uploadFooter .restoreKey .cKeyArea .keySelect {
    margin: 8px 6px auto 0;
    width: 14px;
    height: 14px;
}

.uploadFooter .restoreKey .cKeyArea label {  
    width: 230px;
    margin: 6px 0 auto 6px;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
}

.uploadFooter .restoreKey .cKeyArea .createKey {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.uploadFooter .restoreKey .cKeyArea .createKey.on {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.uploadFooter .restoreKey .cKeyArea .createKey p {  
    font-family: SpoqaHanSansNeo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: left;
    color: #3fa9f5;
    margin: 10px 0 0;
}

.uploadFooter .restoreKey .cKeyArea .createKey .createArea {
    display: flex;
}

.uploadFooter .restoreKey .cKeyArea .createKey .createArea .keyCreate {
    width: 182px;
    height: 30px;
    margin: 0 12px 0 0;
    padding: 0 4px;
    border-radius: 5px;
    border: solid 0.1px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    text-align: center;
    font-family: SpoqaHanSansNeo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    color: #595959;
}

.uploadFooter .restoreKey .cKeyArea .createKey .createArea .keyCD {
    width: 160px;
    height: 30px;
    margin: 0 54px 0 12px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #3fa9f5;
    cursor: pointer;
    display: flex;
}

.uploadFooter .restoreKey .cKeyArea .createKey .createArea .keyCD h3 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: auto;
}