@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.loginArea {
    background: url(../../imgs/login/login_back.png);
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.loginArea .loginContent {
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 24px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.loginArea .loginContent .loginHeader {
    display: flex;
    flex-direction: column;
    margin: 54px auto 18px;
}

.loginArea .loginContent .loginHeader img {
    width: 294px;
    height: 42px;
    margin: 0 auto 42px;
    object-fit: contain;
}

.loginArea .loginContent .loginHeader .loginAuth {
    margin: 0 69px 0 67px;
    display: flex;
    width: 264px;
}

.loginArea .loginContent .loginHeader .loginAuth .adminLogin,
.loginArea .loginContent .loginHeader .loginAuth .subLogin {  
    font-family: SpoqaHanSansNeo-Light;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #bcc5cb;
    margin: 0 auto;
}

.loginArea .loginContent .loginHeader .loginAuth p {  
    font-family: SpoqaHanSansNeo-Thin;
    font-size: 24px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #bcc5cb;
    margin: 0 auto;
}

.loginArea .loginContent .loginHeader .loginAuth .adminLogin.active,
.loginArea .loginContent .loginHeader .loginAuth .subLogin.active {
    font-family: SpoqaHanSansNeo-Bold;
    color: #16284d;
    font-weight: bold;
}

.loginArea .loginContent .loginHeader .loginAuth .adminLogin,
.loginArea .loginContent .loginHeader .loginAuth .subLogin,
.loginArea .loginContent .loginHeader .loginAuth h3 {
    margin: 0;
}

.loginArea .loginContent .loginBody {
    margin: 0 auto 18px;
    display: flex;
    flex-direction: column;
}

.loginArea .loginContent .loginBody #loginAlias,
.loginArea .loginContent .loginBody #name,
.loginArea .loginContent .loginBody #pass {
    width: 272px;
    height: 12px;
    margin: 0 auto 12px;
    padding: 11px 14px;
    border: solid 0.1px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #16284d;
}

.loginArea .loginContent .loginBody #loginAlias::placeholder,
.loginArea .loginContent .loginBody #name::placeholder,
.loginArea .loginContent .loginBody #pass::placeholder {
    font-family: SpoqaHanSansNeo-Light;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #707070;
}

.loginArea .loginContent .loginBody #pass {
    margin: 0 auto 18px;
}

.loginArea .loginContent .loginBody .loginBtn {
    width: 294px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #3fa9f5;
    cursor: pointer;
}

.loginArea .loginContent .loginBody .loginBtn p {
    font-family: SpoqaHanSansNeo-Bold;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.loginArea .loginContent .loginFooter {
    width: 294px;
    height: auto;
    margin: 0 auto 45px;
    display: flex;
}

.loginArea .loginContent .loginFooter .passid {
    margin: auto 0 auto auto;
}

.loginArea .loginContent .loginFooter .passfind {
    margin: auto 0;
}

.loginArea .loginContent .loginFooter .register {
    margin: auto auto auto 0;
}

.loginArea .loginContent .loginFooter p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: center;
    color: #212121;
    margin: auto 0;
}

.loginArea .loginContent .loginFooter h3 {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #212121;
    margin: auto 0;
}