@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.log_content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 436px);
}

.log_content .search_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.log_content .search_area .searchHeader {
    width: 988px;
    display: flex;
    margin: 100px auto 30px;
}

.log_content .search_area .searchHeader img {
    width: 40px;
    height: 40px;
    margin: 0 4px 0 0;
}

.log_content .search_area .searchHeader p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: auto 0;
}

.log_content .search_area .searchHeader label {
    font-family: SpoqaHanSansNeo-Regular;
    height: 15px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: left;
    color: #3fa9f5;
    margin: auto 0 8px 8px;
}

.log_content .search_area .searchContent {
    width: 988px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto 72px;
    border-bottom: solid 1px #707070;
}

.log_content .search_area .searchContent .totalPriceAndSearch {
    display: flex;
    border-bottom: solid 1px #bcc5cb;
}

.log_content .search_area .searchContent .selectMonth {
    width: auto;
    height: auto;
    display: flex;
    margin: 0 auto 16px 44px;
}

.log_content .search_area .searchContent .selectMonth .textArea {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 6px 0 0;
}

.log_content .search_area .searchContent .selectMonth .textArea p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: 0 auto 3px 0;
}

.log_content .search_area .searchContent .selectMonth .textArea span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: left;
    color: #3fa9f5;
    margin: 0;
}

.log_content .search_area .searchContent .selectMonth .selectDate {
    width: 30px;
    height: 48px;
    margin: auto 17px 5px 0;
    background-color: #f9f9f9;
    display: flex;
    cursor: pointer;
    position: relative;
}

.log_content .search_area .searchContent .selectMonth .selectDate img {
    width: 26px;
    height: 26px;
    object-fit: contain;
    margin: auto;
}

.log_content .search_area .searchContent .selectMonth .selectDate input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.log_content .search_area .searchContent .selectMonth .selectDate input::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    opacity: 0;
}

.log_content .search_area .searchContent .selectMonth .selectDate input:focus {
    outline: none;
}

.log_content .search_area .searchContent .selectMonth .selectDate input::-webkit-clear-button {
    display: none;
}

.log_content .search_area .searchContent .selectMonth .periodUse {
    display: flex;
    margin: auto 0 11px;
}

.log_content .search_area .searchContent .selectMonth .periodUse p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: auto;
}

.log_content .search_area .searchContent .totalPrice {
    display: flex;
    margin: auto 44px 16px auto;
}

.log_content .search_area .searchContent .totalPrice .monthPriceText {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
    color: #595959;
    margin: auto 12px auto 0;
}

.log_content .search_area .searchContent .totalPrice .priceText {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: right;
    color: #3fa9f5;
    margin: auto 4px auto 0;
}

.log_content .search_area .searchContent .totalPrice .tailText {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
    color: #595959;
    margin: auto 0;
}

.log_content .search_area .searchContent .calcPrice {
    width: 100%;
    height: 47px;
    display: flex;
}

.log_content .search_area .searchContent .calcPrice p {
    font-family: SpoqaHanSansNeo-Medium;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: right;
    color: #595959;
    margin: auto 44px auto auto;
}

.log_content .search_area .totalUsage {
    width: 988px;
    height: auto;
    margin: 0 auto 72px;
    display: flex;
    flex-direction: column;
}

.log_content .search_area .totalUsage h3 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: 0 auto 8px 24px;
}

.log_content .search_area .totalUsage .usageTable {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.log_content .search_area .totalUsage .usageTable .usageTableHeader {
    width: 100%;
    height: 42px;
    margin: 0;
    display: flex;
    background-color: #f2f2f2;
    border-top: 1px solid #595959;
    border-bottom: 1px solid #595959;
}

.log_content .search_area .totalUsage .usageTable .usageTableHeader .usageHaederText {
    width: 150px;
    height: auto;
    display: flex;
    margin: auto 8px auto 0;
}

.log_content .search_area .totalUsage .usageTable .usageTableHeader .usageHaederText:nth-child(1) {
    margin: auto 8px auto 24px;
}

.log_content .search_area .totalUsage .usageTable .usageTableHeader .usageHaederText:nth-last-child(1) {
    margin: auto 24px auto 0;
}

.log_content .search_area .totalUsage .usageTable .usageTableHeader .usageHaederText p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #16284d;
    margin: auto auto auto 0;
}

.log_content .search_area .totalUsage .usageTable .usageTableBody {
    display: flex;
    flex-direction: column;
}

.log_content .search_area .totalUsage .usageTable .usageTableContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.log_content .search_area .totalUsage .usageTable .usageTableContent .usageTableInfo {
    width: 100%;
    height: 42px;
    display: flex;
    border-bottom: 1px solid #bcc5cb;
}

.log_content .search_area .totalUsage .usageTable .usageTableContent .usageTableInfo .usageContentText {
    width: 150px;
    height: auto;
    display: flex;
    margin: auto 8px auto 0;
}

.log_content .search_area .totalUsage .usageTable .usageTableContent .usageTableInfo .usageContentText:nth-child(1) {
    margin: auto 8px auto 24px;
}

.log_content .search_area .totalUsage .usageTable .usageTableContent .usageTableInfo .usageContentText:nth-last-child(1) {
    margin: auto 24px auto 0;
}

.log_content .search_area .totalUsage .usageTable .usageTableContent .usageTableInfo .usageContentText p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    margin: auto auto auto 0;
}

.logArea {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;  
    background-color: #e9f6ff;
    padding: 60px 0 90px;
}

.logArea .btnArea {
    width: 1470px;
    height: auto;
    margin: 0 auto 24px;
    display: flex;
}

.logArea .btnArea .logBtn {
    width: 240px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #3fa9f5;
    background-color: #fff;
    display: flex;
    margin: auto 24px auto 0;
    cursor: pointer;
}

.logArea .btnArea .logBtn.file {
    margin: auto 24px auto auto;
}


.logArea .btnArea .logBtn.work {
    margin: auto 0;
}

.logArea .btnArea .logBtn p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #3fa9f5;
    margin: auto;
}

.logArea .btnArea .logBtn.active {  
    background-color: #3fa9f5;
}

.logArea .btnArea .logBtn.active p {  
    color: #fff;
}

.logArea .btnArea .excelDownload {
    display: flex;
    margin: auto 24px auto 350px;
    cursor: pointer;
}

.logArea .btnArea .excelDownload p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #16284d;
    margin: auto 6px auto 0;
}

.logArea .btnArea .excelDownload img {
    width: 22px;
    height: 19px;
    object-fit: contain;
    margin: auto 0;
}

.logArea .tableArea {
    width: 1472px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.logArea .tableArea .tableTitle {
    width: 100%;
    height: 66px;
    display: flex;
}

.logArea .tableArea .tableTitle h3 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: 26px auto auto 24px;
}

.logArea .tableArea .tableTitle.work h3 {
    margin: 26px 24px auto 24px;
}

.logArea .tableArea .tableTitle .inputOption {
    display: flex;
    margin: 30px auto auto 0;
}

.logArea .tableArea .tableTitle .inputOption label {
    display: flex;
    margin: 0 16px 0 0;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: left;
    color: #595959;
    cursor: pointer;
}

.logArea .tableArea .tableTitle .inputOption label input {
    width: 14px;
    height: 14px;
    margin: auto 6px auto 0;
}

.logArea .tableArea .tableTitle p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: right;
    color: #595959;
    margin: auto 31px 2px 0;
}

.logArea .tableArea .tableHeader {
    width: 1424px;
    height: auto;
    display: flex;
    background-color: #f2f2f2;
    border: solid 1px #595959;
    margin: 0 auto;
}

.logArea .tableArea .tableHeader .logHeader {
    display: flex;
    border-right: solid 1px #bcc5cb;
}

.logArea .tableArea .tableHeader .logHeader:nth-last-child(1) {
    border-right: none;
}

.logArea .tableArea .tableHeader .logHeader p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #16284d;
    margin: auto;
}

.logArea .tableArea .tableHeader .logHeader.file {
    height: 96px;
}

.logArea .tableArea .tableHeader .logHeader.work {
    height: 48px;
}

.logArea .tableArea .tableHeader .logHeader.file.num {
    width: 82px;
}

.logArea .tableArea .tableHeader .logHeader.file.user {
    width: 97px;
}

.logArea .tableArea .tableHeader .logHeader.file.start {
    width: 106px;
}

.logArea .tableArea .tableHeader .logHeader.file.recent {
    width: 105px;
}

.logArea .tableArea .tableHeader .logHeader.file.filename {
    width: 242px;
}

.logArea .tableArea .tableHeader .logHeader.file.filetype {
    width: 81px;
}

.logArea .tableArea .tableHeader .logHeader.file.service {
    width: 392px;
    flex-direction: column;
}

.logArea .tableArea .tableHeader .logHeader.file.service .mainHeading {
    height: 48px;
    display: flex;
    border-bottom: solid 1px #bcc5cb;
}

.logArea .tableArea .tableHeader .logHeader.file.service .subHeading {
    display: flex;
    height: 48px;
}

.logArea .tableArea .tableHeader .logHeader.file.service .subHeading .heading {
    width: 98px;
    display: flex;
    border-right: solid 1px #bcc5cb;
}

.logArea .tableArea .tableHeader .logHeader.file.service .subHeading .heading:nth-child(2) {
    width: 97px;
}

.logArea .tableArea .tableHeader .logHeader.file.service .subHeading .heading:nth-last-child(1) {
    width: 97px;
    display: flex;
    border-right: none;
}

.logArea .tableArea .tableHeader .logHeader.file.end {
    width: 106px;
}

.logArea .tableArea .tableHeader .logHeader.file.price {
    width: 105px;
}

.logArea .tableArea .tableHeader .logHeader.file.detail {
    width: 98px;
}

.logArea .tableArea .tableHeader .logHeader.work.num,
.logArea .tableArea .tableHeader .logHeader.work.filetype {
    width: 79px;
}

.logArea .tableArea .tableHeader .logHeader.work.user,
.logArea .tableArea .tableHeader .logHeader.work.duration,
.logArea .tableArea .tableHeader .logHeader.work.object,
.logArea .tableArea .tableHeader .logHeader.work.base {
    width: 95px;
}

.logArea .tableArea .tableHeader .logHeader.work.discount {
    width: 103px;
}

.logArea .tableArea .tableHeader .logHeader.work.date,
.logArea .tableArea .tableHeader .logHeader.work.resolution,
.logArea .tableArea .tableHeader .logHeader.work.price  {
    width: 102px;
}

.logArea .tableArea .tableHeader .logHeader.work.service {
    width: 103px;
}

.logArea .tableArea .tableHeader .logHeader.work.filename {
    width: 207px;
}

.logArea .tableArea .tableHeader .logHeader.work.basic {
    width: 67px;
}

.logArea .tableArea .tableHeader .logHeader.work.add {
    width: 94px;
}

.logArea .tableArea .tableBody {    
    display: flex;
    flex-direction: column;
}

.logArea .tableArea .tableContent {    
    width: 1424px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #595959;
    border-top: none;
    margin: 0 auto;
}

.logArea .tableArea .tableContent .contentInfo {    
    width: 100%;
    height: 44px;
    display: flex;
    border-bottom: solid 1px #bcc5cb;
    margin: 0;
}

.logArea .tableArea .tableContent .contentInfo.hide {    
    display: none;
}

.logArea .tableArea .tableContent .contentInfo:nth-last-child(1) {    
    border-bottom: none;
}

.logArea .tableArea .tableContent .contentInfo .logContent {    
    display: flex;
    border-right: solid 1px #bcc5cb;
}

.logArea .tableArea .tableContent .contentInfo .logContent:nth-last-child(1) {    
    border-right: none;
}

.logArea .tableArea .tableContent .contentInfo .logContent p {    
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: center;
    color: #595959;
    margin: auto;
}

.logArea .tableArea .tableContent .contentInfo .logContent .detailBth {    
    display: flex;
    margin: 14px auto auto;
    cursor: pointer;
}

.logArea .tableArea .tableContent .contentInfo .logContent .detailBth span {    
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #16284d;
    margin: 0 4px 0 0;
}

.logArea .tableArea .tableContent .contentInfo .logContent .detailBth img {    
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin: 0;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.num {
    width: 82px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.user {
    width: 97px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.start {
    width: 106px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.recent {
    width: 105px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.filename {
    width: 242px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.filename p {
    width: 224px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.filetype {
    width: 81px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.encrpyt,
.logArea .tableArea .tableContent .contentInfo .logContent.file.decrypt {
    width: 98px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.additional,
.logArea .tableArea .tableContent .contentInfo .logContent.file.download {
    width: 97px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.end {
    width: 106px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.price {
    width: 105px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.price p {
    width: 88px;
    text-align: right;
}

.logArea .tableArea .tableContent .contentInfo .logContent.file.detail {
    width: 98px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.num,
.logArea .tableArea .tableContent .contentInfo .logContent.work.filetype {
    width: 79px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.user,
.logArea .tableArea .tableContent .contentInfo .logContent.work.duration,
.logArea .tableArea .tableContent .contentInfo .logContent.work.object,
.logArea .tableArea .tableContent .contentInfo .logContent.work.base {
    width: 95px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.discount {
    width: 103px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.date,
.logArea .tableArea .tableContent .contentInfo .logContent.work.resolution,
.logArea .tableArea .tableContent .contentInfo .logContent.work.price  {
    width: 102px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.service {
    width: 103px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.filename {
    width: 207px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.filename p {
    width: 192px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.basic {
    width: 67px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.basic p {
    width: 52px;
    text-align: right;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.resolution .textArea,
.logArea .tableArea .tableContent .contentInfo .logContent.work.duration .textArea {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.resolution .textArea span,
.logArea .tableArea .tableContent .contentInfo .logContent.work.duration .textArea span {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: center;
    color: #595959;
    margin: 0 auto 3px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.resolution .textArea h5,
.logArea .tableArea .tableContent .contentInfo .logContent.work.duration .textArea h5 {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: center;
    color: #595959;
    margin: 0 auto;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.add {
    width: 94px;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.base p,
.logArea .tableArea .tableContent .contentInfo .logContent.work.add p,
.logArea .tableArea .tableContent .contentInfo .logContent.work.discount p {
    width: 80px;
    text-align: right;
}

.logArea .tableArea .tableContent .contentInfo .logContent.work.price p {
    width: 88px;
    text-align: right;
}

.layerPopupBox .price_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1080px;
    height: auto;
    max-height: 796px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #666;
    background: #FFFFFF;
    border: 1px solid #EBEDF2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.layerPopupBox .price_inner .priceHeader {
    width: 100%;
    height: auto;
    display: flex;
    margin: 12px 0 16px 0;
}

.layerPopupBox .price_inner .priceHeader .priceTitle {
    width: auto;
    height: 100%;
    display: flex;
    margin: 8px auto 0 46px;
}

.layerPopupBox .price_inner .priceHeader .priceTitle img {  
    width: 40px;
    height: 40px;
    margin: 0 4px 0 0;
    object-fit: contain;
}

.layerPopupBox .price_inner .priceHeader .priceTitle h3 {  
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin: 7px 8px auto 0;
}

.layerPopupBox .price_inner .priceHeader .priceTitle p {  
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: left;
    color: #3fa9f5;
    margin: 19px auto auto 0;
}

.layerPopupBox .price_inner .priceHeader .cancel {
    display: flex;
    margin: 0 12px 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 22px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.layerPopupBox .price_inner .priceHeader .cancel:hover {
    background-color: #3fa9f5;
    cursor: pointer;
}

.layerPopupBox .price_inner .priceHeader .cancel .cancel_hover {  
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin: auto;
    display: none;
    cursor: pointer;
}

.layerPopupBox .price_inner .priceHeader .cancel .cancel_nohover {  
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin: auto;
    display: block;
    cursor: pointer;
}

.layerPopupBox .price_inner .priceHeader .cancel:hover .cancel_hover {
    display: block;
}

.layerPopupBox .price_inner .priceHeader .cancel:hover .cancel_nohover {
    display: none;
}

.layerPopupBox .price_inner .priceContent {
    width: 992px;
    height: auto;
    margin: 0 40px 24px auto;
}

.layerPopupBox .price_inner .priceContent .priceFileInfo {
    width: 980px;
    height: 28px;
    display: flex;
    border-bottom: 1px solid #707070;
    margin: 0 52px 24px auto;
}

.layerPopupBox .price_inner .priceContent .priceFileInfo .fileName {
    display: flex;
    margin: 0 24px 0 9px;
}

.layerPopupBox .price_inner .priceContent .priceFileInfo .fileName span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #16284d;
    margin: 0 0 auto 0;
}

.layerPopupBox .price_inner .priceContent .priceFileInfo .fileName p {
    width: 400px;
    height: auto;
    font-family: SpoqaHanSansNeo-Rgular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.16px;
    text-align: left;
    color: #595959;
    margin: 0 0 7px 0;
    word-break: break-all;
}

.layerPopupBox .price_inner .priceContent .priceFileInfo .fileType {
    display: flex;
    width: 0 24px 0 9px;
}

.layerPopupBox .price_inner .priceContent .priceFileInfo .fileType span {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #16284d;
    margin: 0 0 auto 0;
}

.layerPopupBox .price_inner .priceContent .priceFileInfo .fileType p {
    width: 416px;
    height: auto;
    font-family: SpoqaHanSansNeo-Rgular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.16px;
    text-align: left;
    color: #595959;
    margin: 0 0 auto 0;
}

.layerPopupBox .price_inner .priceContent .priceInfo {
    width: 992px;
    height: 554px;
    display: flex;
    flex-direction: column;
    margin: 0 0 24px;
    overflow-y: auto;
}

.layerPopupBox .price_inner .priceContent .priceInfo::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.layerPopupBox .price_inner .priceContent .priceInfo::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #bcc5cb;
}

.layerPopupBox .price_inner .priceContent::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.layerPopupBox .price_inner .priceContent .priceArea {
    width: 980px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto 24px 0;
}

.layerPopupBox .price_inner .priceContent .priceArea:nth-last-child(1) {
    margin: 0 auto 0 0;
}

.layerPopupBox .price_inner .priceContent .priceArea h2 {
    font-family: SpoqaHanSansNeo;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #16284d;
    margin: 0 auto 8px 9px;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableHeader {
    width: 980px;
    height: 48px;
    display: flex;
    border: solid 1px #595959;
    background-color: #f2f2f2;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableHeader .tableHeader {
    width: 108px;
    height: 48px;
    display: flex;
    border-right: solid 1px #bcc5cb;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableHeader .tableHeader p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #16284d;
    margin: 16px auto auto;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableHeader .tableHeader:nth-last-child(1) {
    border-right: none;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent {
    width: 980px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-left: solid 1px #595959;
    border-right: solid 1px #595959;
    border-bottom: solid 1px #595959;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableBox {
    width: 100%;
    height: 48px;
    display: flex;
    border-bottom: solid 1px #bcc5cb;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableBox:nth-last-child(1) {
    border-bottom: none;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent {
    width: 108px;
    height: 48px;
    display: flex;
    border-right: solid 1px #bcc5cb;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent p {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.14px;
    text-align: center;
    color: #595959;
    margin: auto;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent .textArea {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent .textArea span {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.12px;
    text-align: center;
    color: #595959;
    margin: 3px auto 0;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent h3 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: -0.16px;
    text-align: right;
    color: #3fa9f5;
    margin: auto;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent.basic p,
.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent.base p,
.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent.add p,
.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent.discount p,
.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent.total h3,
.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent.total p {
    width: 90px;
    text-align: right;
}

.layerPopupBox .price_inner .priceContent .priceArea .priceTableContent .tableContent:nth-last-child(1) {
    border-right: none;
}

.layerPopupBox .price_inner .priceContent .priceArea .subtotal {
    width: 980px;
    margin: 16px 0 0;
    display: flex;
}

.layerPopupBox .price_inner .priceContent .priceArea .subtotal p {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: right;
    color: #16284d;
    margin: auto 17px auto auto;
}

.layerPopupBox .price_inner .priceContent .priceArea .subtotal h3 {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: -0.16px;
    text-align: right;
    color: #3fa9f5;
    margin: auto 9px auto 0;
}

.layerPopupBox .price_inner .priceContent .totalPriceArea {  
    width: 986px;
    height: 62px;
    border: 1px solid #707070;
    background-color: #fff;
    display: flex;
}

.layerPopupBox .price_inner .priceContent .totalPriceArea h2 {  
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #16284d;
    margin: auto 24px auto auto;
}

.layerPopupBox .price_inner .priceContent .totalPriceArea span {  
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
    color: #3fa9f5;
    margin: auto 4px auto 0;
}

.layerPopupBox .price_inner .priceContent .totalPriceArea p {  
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #3fa9f5;
    margin: auto auto auto 0;
}